<footer class="py-4 text-white" style="background-color: #121214;">
  <div class="container">
    <div class="row g-4 small text-white-50 pb-4 border-bottom border-secondary">
      <div class="col-md-2.4 col-sm-6">
        <strong class="text-white d-block mb-1">Arequipa</strong>
        <span>Dirección campus:</span>
        <p class="mb-0">La Canseco II / Sector Valle Chilina, José Luis Bustamante y Rivero.</p>
      </div>
      <div class="col-md-2.4 col-sm-6">
        <strong class="text-white d-block mb-1">Cusco</strong>
        <span>Dirección campus:</span>
        <p class="mb-0">Jr. Juan Espinoza Medrano N° 358 (Q-13)</p>
      </div>
      <div class="col-md-2.4 col-sm-6">
        <strong class="text-white d-block mb-1">Huancayo</strong>
        <span>Dirección:</span>
        <p class="mb-0">Av. San Carlos 1980 - San Carlos, Huancayo</p>
      </div>
      <div class="col-md-2.4 col-sm-6">
        <strong class="text-white d-block mb-1">Los Olivos - Lima</strong>
        <span>Dirección:</span>
        <p class="mb-0">Av. Alfredo Mendiola 5210</p>
      </div>
      <div class="col-md-2.4 col-sm-6">
        <strong class="text-white d-block mb-1">Miraflores</strong>
        <span>Dirección:</span>
        <p class="mb-0">Calle Junín 355 - Miraflores, Lima</p>
      </div>
    </div>

    <div class="pt-3 d-flex justify-content-between align-items-center small text-white-50">
      <p class="mb-0">&copy; Copyright 2026 | Centro de Idiomas Universidad Continental</p>
      <span class="small">UC - Evaluación Parcial</span>
    </div>
  </div>
</footer>